[submodule "Utils/BaseNetworkUtil"]
	path = Utils/BaseNetworkUtil
	url = https://github.com/AsioOtus/BaseNetworkUtil.git
[submodule "Utils/LoggingUtil"]
	path = Utils/LoggingUtil
	url = https://github.com/AsioOtus/LoggingUtil.git
[submodule "Utils/UserDefaultsUtil"]
	path = Utils/UserDefaultsUtil
	url = https://github.com/AsioOtus/UserDefaultsUtil.git
[submodule "Multitool"]
	path = Multitool
	url = https://github.com/AsioOtus/Multitool.git
[submodule "AFExtensions"]
	path = AFExtensions
	url = https://github.com/AsioOtus/AFExtensions.git
