[submodule "Utils/BaseNetworkUtil"]
	path = Utils/NetworkingUtil
	url = https://github.com/AsioOtus/BaseNetworkUtil.git
[submodule "Utils/LoggingUtil"]
	path = Utils/LoggingUtil
	url = https://github.com/AsioOtus/LoggingUtil.git
[submodule "Utils/UserDefaultsUtil"]
	path = Utils/StorageUtil
	url = https://github.com/AsioOtus/UserDefaultsUtil.git
[submodule "Multitool"]
	path = Multitool
	url = https://github.com/AsioOtus/Multitool.git
[submodule "AFExtensions"]
	path = FExtensions
	url = https://github.com/AsioOtus/AFExtensions.git
[submodule "SketchesBox/Sketches"]
	path = SketchesBox/Sketches
	url = https://github.com/AsioOtus/Sketches.git
[submodule "SketchesBox/TestApps"]
	path = SketchesBox/TestApps
	url = https://github.com/AsioOtus/TestApps.git
[submodule "MultitoolExtended"]
	path = MultitoolExtended
	url = https://github.com/AsioOtus/MultitoolExtended.git
[submodule "Utils/DIUtil"]
	path = Utils/DIUtil
	url = https://github.com/AsioOtus/DIUtil.git
[submodule "Utils/RoutingUtil"]
	path = Utils/RoutingUtil
	url = https://github.com/AsioOtus/RoutingUtil.git
